<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Module_5. 
body
	h1 Модуль 5 - Теория
	ul
		li Объект, как ассоциативный массив
		li Присвоение по ссылке и по значению
		li Создание объектов с помощью оператора new
		li Методы объекта
		li Перебор свойств объекта
		li Объект Date
	hr
	script(src='main.js')


		
